* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.primary-btn, #about .about-container .about-intro .about-intro-item .more-btn, #service .service-container .serv-blocks .appointment-form form .form-item div .submit-btn, #price .price-container .cards .card-body div .price-center-btn, #getintouch .contact-section .form-content form div .send-btn {
  color: #fff;
  padding: 13px 40px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#39b49b), to(#157fda));
  background: linear-gradient(to right, #39b49b 0%, #157fda 100%);
  border-radius: 100px;
  outline: none;
}

.primary-btn:hover, #about .about-container .about-intro .about-intro-item .more-btn:hover, #service .service-container .serv-blocks .appointment-form form .form-item div .submit-btn:hover, #price .price-container .cards .card-body div .price-center-btn:hover, #getintouch .contact-section .form-content form div .send-btn:hover {
  background: -webkit-gradient(linear, left top, right top, from(#157fda), to(#39b49b));
  background: linear-gradient(to right, #157fda 0%, #39b49b 100%);
}

header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: #fff;
}

header .header-top {
  width: 100%;
  padding: 10px 0;
}

header .header-top .header-container {
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

header .header-top .header-container .logo {
  float: left;
  height: auto;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

header .header-top .header-container .logo img {
  width: 220px;
}

header .header-top .header-container .header-info-block {
  float: right;
  margin: 11px 0;
}

header .header-top .header-container .header-info-block .header-info-item {
  float: left;
  margin-left: 30px;
}

header .header-top .header-container .header-info-block .header-info-item .header-icon {
  float: left;
  background: #157fda;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: normal;
  padding: 10px 12px;
  margin-right: 15px;
  color: #fff;
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
  cursor: pointer;
}

header .header-top .header-container .header-info-block .header-info-item .header-icon:hover {
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 100%;
  background: #39b49b;
}

header .header-top .header-container .header-info-block .header-info-item .header-icon .fa-clock-o {
  font-size: 1rem;
}

header .header-top .header-container .header-info-block .header-info-item .header-icon .fa-envelope {
  font-size: 1rem;
}

header .header-top .header-container .header-info-block .header-info-item .header-icon img {
  width: 100%;
}

header .header-top .header-container .header-info-block .header-info-item .header-icon-info {
  float: left;
  font-size: 20px;
  letter-spacing: -1px;
  margin: 4px 0;
}

header .header-top .header-container .header-info-block .header-info-item .header-icon-info a {
  color: #1f1f1f;
}

header .header-bottom {
  float: left;
  width: 100%;
  background: #157fda;
}

header .header-bottom .header-container {
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

header .header-bottom .header-container #nav-menu {
  float: left;
  margin: 18px;
}

header .header-bottom .header-container #nav-menu .menubtn {
  display: none;
}

header .header-bottom .header-container #nav-menu .closebtn {
  display: none;
}

header .header-bottom .header-container #nav-menu .menu li a.active {
  color: #fff;
  background: #39b49b;
  -webkit-box-shadow: 5px 5px 0 0px #fff;
          box-shadow: 5px 5px 0 0px #fff;
}

header .header-bottom .header-container #nav-menu .menu li {
  margin-left: 8px;
  float: left;
}

header .header-bottom .header-container #nav-menu .menu li a {
  color: white;
  font-size: 17px;
  padding: 20px 22px;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 500;
}

header .header-bottom .header-container #nav-menu .menu li:hover a {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  color: #fff;
  background: #39b49b;
  -webkit-box-shadow: 5px 5px 0 0px #fff;
          box-shadow: 5px 5px 0 0px #fff;
}

header .header-bottom .header-container .search-bar {
  float: right;
  width: 250px;
}

header .header-bottom .header-container .search-bar .search-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: none;
  border-radius: 50px;
  background-color: #fff;
  overflow: hidden;
  margin: 10px 0;
}

header .header-bottom .header-container .search-bar .search-input input {
  border-radius: 50px;
  overflow: hidden;
  float: left;
  font-size: 14px;
  font-weight: 500;
  color: #222;
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  padding: 0 10px;
}

header .header-bottom .header-container .search-bar .search-input .input-search-btn {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-bottom .header-container .search-bar .search-input .input-search-btn button {
  border: none;
  outline: none;
  margin: 0;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #666666;
  padding: 0 10px;
}

header .header-bottom .header-container .search-bar .search-input .input-search-btn button .fa-search {
  padding: 10px 0px;
  font-size: 18px;
  color: #333;
}

#intro {
  background-image: url("../images/slider-bg.png");
  position: relative;
  min-height: 650px;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 140px;
}

#intro .intro-container {
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

#intro .intro-container .intro-greeting {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#intro .intro-container .intro-greeting .heart-logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  border: solid #39b49b 3px;
}

#intro .intro-container .intro-greeting .heart-logo img {
  width: 50px;
  margin-top: 2px;
}

#intro .intro-container .intro-greeting h1 {
  margin-top: 2px;
  font-size: 45px;
  font-weight: 400;
}

#info .info-container {
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

#info .info-container .info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#info .info-container .info-block .info-item {
  min-height: 200px;
  margin-top: -350px;
  width: 20%;
  z-index: 1;
  padding: 50px;
  color: #fff;
}

#info .info-container .info-block .info-item .info-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 60px;
  line-height: normal;
  margin-bottom: 20px;
}

#info .info-container .info-block .info-item h3 {
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  margin: -5px 0 15px 0;
}

#info .info-container .info-block .info-item p {
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}

#info .info-container .info-block .info-item .time-table ul {
  margin: 0;
  width: 100%;
  padding: 0;
}

#info .info-container .info-block .info-item .time-table ul li {
  width: 100%;
  font-size: 14px;
  border-bottom: dashed 1px #fff;
  padding-bottom: 2.5rem;
  padding-top: 10px;
}

#info .info-container .info-block .info-item .time-table ul li .left {
  float: left;
}

#info .info-container .info-block .info-item .time-table ul li .right {
  float: right;
}

#info .info-container .info-block .second {
  margin-bottom: -63px;
}

#info .info-container .info-block .second::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background: transparent;
  position: absolute;
  z-index: 0;
  border-bottom: solid transparent 65px;
  border-right: solid #a0cff7 70px;
  bottom: -217px;
  left: 423px;
}

#info .info-container .info-block .second::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background: transparent;
  position: absolute;
  z-index: 0;
  border-bottom: solid transparent 65px;
  border-left: solid #a0cff7 70px;
  bottom: -217px;
  right: 423px;
}

#about {
  padding: 10rem 0;
}

#about .about-container {
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about .about-container .about-heading {
  text-align: center;
  float: left;
  width: 100%;
  margin: 0 0 50px 0;
}

#about .about-container .about-heading .icon-logo img {
  width: 60px;
}

#about .about-container .about-heading h2 {
  font-size: 35px;
  text-transform: none;
  font-weight: 400;
  letter-spacing: -1px;
  color: #333;
  margin: 5px 0;
  padding: 0;
  position: relative;
}

#about .about-container .about-heading h2::after {
  width: 50px;
  height: 4px;
  background: #39b49b;
  content: "";
  display: block;
  margin: 10px auto 0;
}

#about .about-container .about-intro {
  width: 100%;
}

#about .about-container .about-intro .about-intro-item {
  width: 50%;
  float: left;
  padding-bottom: 1rem;
}

#about .about-container .about-intro .about-intro-item h4 {
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 5px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 17px;
  color: #0071d1;
}

#about .about-container .about-intro .about-intro-item h2 {
  font-weight: bold;
  font-size: 34px;
  padding: 0 0 10px;
}

#about .about-container .about-intro .about-intro-item p {
  width: 80%;
  padding-top: 10px;
  font-size: 16px;
  font-style: normal;
  color: #999;
  padding-bottom: 0;
  font-weight: 400;
  margin-bottom: 15px;
}

#about .about-container .about-intro .about-intro-item img {
  display: block;
  max-width: 100%;
  height: auto;
}

#about .about-container .about-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 7rem;
  padding-bottom: 2rem;
  width: 100%;
}

#about .about-container .about-gallery .about-gallery-item {
  max-width: 25%;
  padding-right: 10px;
  padding-left: 10px;
}

#about .about-container .about-gallery .about-gallery-item div img {
  display: block;
  max-width: 100%;
  height: auto;
}

#about .about-container .about-gallery .about-gallery-item h3 {
  font-size: 16px;
  color: #ffffff;
  padding: 12px 0 12px;
  margin: 0;
  background: #157fda;
  text-align: center;
}

#service {
  width: 100%;
  background: url("../images/service-bg.png");
  padding: 5rem 0;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  float: left;
}

#service .service-container {
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

#service .service-container .serv-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#service .service-container .serv-blocks .serv-item-block {
  width: 100%;
  padding-bottom: 2rem;
}

#service .service-container .serv-blocks .serv-item-block .serv-item {
  width: 30%;
  text-align: center;
  color: #fff;
  padding-bottom: 2rem;
  float: left;
}

#service .service-container .serv-blocks .serv-item-block .serv-item .icon-service {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

#service .service-container .serv-blocks .serv-item-block .serv-item .icon-service img {
  width: 60px;
}

#service .service-container .serv-blocks .serv-item-block .serv-item h4 {
  font-size: 15px;
  font-weight: 600;
  margin: 5px 0 0;
  width: 100%;
}

#service .service-container .serv-blocks .serv-item-block .serv-item p {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
  margin-top: 5px;
}

#service .service-container .serv-blocks .appointment-form {
  width: 40%;
  background: #fff;
  min-height: 425px;
  -webkit-box-shadow: 0 0 50px -22px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 50px -22px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

#service .service-container .serv-blocks .appointment-form h3 {
  margin: 0;
  background: -webkit-gradient(linear, left top, right top, from(#39b49b), to(#157fda));
  background: linear-gradient(to right, #39b49b 0%, #157fda 100%);
  color: #fff;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 600;
}

#service .service-container .serv-blocks .appointment-form form .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#service .service-container .serv-blocks .appointment-form form .form-item input {
  border-radius: 0;
  border: solid #ccc 1px;
  padding: 1px 15px;
  font-weight: 400;
  font-size: 13px;
  margin: 12px 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #333;
  height: 44px;
}

#service .service-container .serv-blocks .appointment-form form .form-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#service .service-container .serv-blocks .appointment-form form .form-item div .submit-btn {
  margin-top: 1rem;
}

#service .service-container .serv-blocks .appointment-form form .form-item select {
  border-radius: 0;
  border: solid #ccc 1px;
  padding: 1px 15px;
  font-weight: 400;
  font-size: 13px;
  margin: 12px 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #333;
  height: 44px;
  outline: none;
  width: 100%;
  background-color: #fff;
}

#service .service-container .serv-blocks .appointment-form form .form-item textarea {
  border-radius: 0;
  border: solid #ccc 1px;
  padding: 1px 15px;
  font-weight: 400;
  font-size: 13px;
  margin: 12px 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #333;
  height: 44px;
  outline: none;
  height: 90px;
}

#doctors {
  padding-top: 48rem;
}

#doctors .doctors-container {
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

#doctors .doctors-container .doctors-heading {
  text-align: center;
  float: left;
  width: 100%;
  margin: 0 0 50px 0;
}

#doctors .doctors-container .doctors-heading .icon-logo img {
  width: 60px;
}

#doctors .doctors-container .doctors-heading h2 {
  font-size: 35px;
  text-transform: none;
  font-weight: 400;
  letter-spacing: -1px;
  color: #333;
  margin: 5px 0;
  padding: 0;
  position: relative;
}

#doctors .doctors-container .doctors-heading h2::after {
  width: 50px;
  height: 4px;
  background: #39b49b;
  content: "";
  display: block;
  margin: 10px auto 0;
}

#doctors .doctors-container .doctors-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 100%;
}

#doctors .doctors-container .doctors-block .doctors-item {
  text-align: center;
  max-width: 30%;
  padding: 20px;
}

#doctors .doctors-container .doctors-block .doctors-item img {
  border-radius: 6px;
  max-width: 100%;
}

#doctors .doctors-container .doctors-block .doctors-item h3 {
  background: -webkit-gradient(linear, left top, right top, from(#157fda), to(#39b49b));
  background: linear-gradient(to right, #157fda 0%, #39b49b 100%);
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  line-height: 1;
  padding: 15px 20px;
  margin: 0 70px;
  position: relative;
  top: -35px;
}

#doctors .doctors-container .doctors-block .doctors-item span {
  font-size: 14px;
  color: #157fda;
}

#doctors .doctors-container .doctors-block .doctors-item p {
  font-size: 16px;
  font-weight: 300;
  color: #999;
}

#doctors .doctors-container .doctors-block .doctors-item .footer-social {
  margin-top: 20px;
}

#doctors .doctors-container .doctors-block .doctors-item .footer-social a {
  color: #ffffff;
  padding: 6px 12px;
  background: -webkit-gradient(linear, left top, right top, from(#39b49a), to(#1d86df));
  background: linear-gradient(to right, #39b49a 0%, #1d86df 100%);
}

#price {
  padding: 100px 0;
  background-image: url("../images/price-bg.png");
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#price .price-container {
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

#price .price-container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

#price .price-container .cards .card-body {
  text-align: center;
  width: 33%;
  margin: 60px 10px 0;
  background: #fff;
  -webkit-box-shadow: 0px 10px 25px -20px #000;
          box-shadow: 0px 10px 25px -20px #000;
}

#price .price-container .cards .card-body h2 {
  padding: 20px 0 15px 0;
  font-size: 31px;
  font-weight: 300;
}

#price .price-container .cards .card-body h3 {
  font-size: 15px;
  font-weight: 600;
  color: #aaaaaa;
  margin-top: 10px;
  text-transform: uppercase;
}

#price .price-container .cards .card-body p {
  margin: 15px 30px 0 30px;
  padding: 0 10px 15px 10px;
  border-bottom: 1px solid #ececec;
  font-weight: 300;
  line-height: 30px;
  color: #c2c2c2;
  font-size: 16px;
}

#price .price-container .cards .card-body .title {
  margin: 5px;
  padding: 0px 0 15px 0;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#39b49a), to(#1d86df));
  background: linear-gradient(to right, #39b49a 0%, #1d86df 100%);
}

#price .price-container .cards .card-body .title h3 {
  color: #fff;
}

#price .price-container .cards .card-body ul {
  margin: 15px 30px 0 30px;
  padding: 0 10px 30px 50px;
  border-bottom: 1px solid #ececec;
  text-align: left;
  line-height: 30px;
  font-size: 16px;
  color: #c2c2c2;
}

#price .price-container .cards .card-body ul li strong {
  color: #222;
  font-weight: 400;
  margin-right: 6px;
  margin-left: 16px;
}

#price .price-container .cards .card-body div {
  margin-top: 25px;
  padding-bottom: 20px;
}

#price .price-container .cards .card-body div .price-btn {
  padding: 10px 24px;
  font-size: 15px;
  border: 1px solid #ececec;
  color: #1f1f1f;
  background-color: transparent;
}

#testimonials {
  padding: 100px 0;
  background-image: url("../images/bg-testimonial.png");
  background-position: bottom;
  background-attachment: fixed;
}

#testimonials .testimonials-container {
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

#testimonials .testimonials-container .testim-heading {
  text-align: center;
  width: 100%;
  margin: 0 0 50px 0;
}

#testimonials .testimonials-container .testim-heading .icon-logo img {
  width: 60px;
}

#testimonials .testimonials-container .testim-heading h2 {
  font-size: 35px;
  text-transform: none;
  font-weight: 400;
  letter-spacing: -1px;
  color: #333;
  margin: 5px 0;
  padding: 0;
  position: relative;
}

#testimonials .testimonials-container .testim-heading h2::after {
  width: 50px;
  height: 4px;
  background: #39b49b;
  content: "";
  display: block;
  margin: 10px auto 0;
}

#testimonials .testimonials-container .testimonials-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
}

#testimonials .testimonials-container .testimonials-block .testimonials-block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 100%;
}

#testimonials .testimonials-container .testimonials-block .testimonials-block-item .testimonial-item {
  padding-right: 15px;
  padding-left: 15px;
  width: 50%;
}

#testimonials .testimonials-container .testimonials-block .testimonials-block-item .testimonial-item .desc {
  position: relative;
  background: #fff;
  border: 1px solid #ededed;
  padding: 30px;
}

#testimonials .testimonials-container .testimonials-block .testimonials-block-item .testimonial-item .desc h3 {
  font-size: 18px;
  font-weight: bolder;
  padding: 0 0 10px;
}

#testimonials .testimonials-container .testimonials-block .testimonials-block-item .testimonial-item .desc h3 .fa-quote-left {
  color: rgba(0, 0, 0, 0.1);
  font-size: 30px;
}

#testimonials .testimonials-container .testimonials-block .testimonials-block-item .testimonial-item .desc p {
  background-color: transparent;
  color: #aaa;
  display: block;
  font-size: 15px;
  font-style: normal;
  line-height: 30px;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: 400;
}

#testimonials .testimonials-container .testimonials-block .testimonials-block-item .testimonial-item .testi-meta {
  margin-top: 30px;
}

#testimonials .testimonials-container .testimonials-block .testimonials-block-item .testimonial-item .testi-meta img {
  max-width: 55px;
  margin: 10px 20px 20px 0;
  float: left;
}

#testimonials .testimonials-container .testimonials-block .testimonials-block-item .testimonial-item .testi-meta h4 {
  font-size: 18px;
  padding: 13px 0 0;
  font-weight: 400;
  color: #39b49a;
}

#testimonials .testimonials-container .testimonials-block .testimonials-block-item .testimonial-item .testi-meta h4 span {
  background-color: transparent;
  color: #aaa;
  display: block;
  font-size: 14px;
  font-style: normal;
  line-height: 30px;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: 400;
}

#getintouch {
  padding: 50px 0;
  background-image: url("../images/bg-testimonial.png");
  background-position: bottom;
  background-attachment: fixed;
}

#getintouch .getintouch-heading {
  text-align: center;
  width: 100%;
  margin: 0 0 50px 0;
}

#getintouch .getintouch-heading .icon-logo img {
  width: 60px;
}

#getintouch .getintouch-heading h2 {
  font-size: 35px;
  text-transform: none;
  font-weight: 400;
  letter-spacing: -1px;
  color: #333;
  margin: 5px 0;
  padding: 0;
  position: relative;
}

#getintouch .getintouch-heading h2::after {
  width: 50px;
  height: 40px;
  background: #39b49b;
  content: "";
  display: block;
  margin: 10px auto 0;
}

#getintouch .contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

#getintouch .contact-section .form-content {
  position: relative;
  width: 30%;
  height: 30%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
  padding: 50px;
}

#getintouch .contact-section .form-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#getintouch .contact-section .form-content form .input-group {
  width: 100%;
}

#getintouch .contact-section .form-content form .input-group .input-item {
  width: 50%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#getintouch .contact-section .form-content form .input-group .input-item input {
  width: 100%;
  background: transparent;
  padding: 0;
  border: none;
  border-bottom: solid #fff 2px;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 15px;
  outline: none;
}

#getintouch .contact-section .form-content form .input-group {
  width: 100%;
}

#getintouch .contact-section .form-content form .input-group textarea {
  width: 95%;
  background: transparent;
  border: none;
  border-bottom: solid #fff 2px;
  font-size: 15px;
  font-weight: 300;
}

#getintouch .contact-section .form-content form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#getintouch .contact-section .form-content form div .send-btn {
  margin-top: 2rem;
}

#getintouch .contact-section .map {
  width: 70%;
  height: 100;
}

#links {
  font-size: 14px;
  margin-right: auto;
  margin-left: auto;
}

#links div {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#links div .life-care-block {
  max-width: 30%;
  position: relative;
  padding-right: 5px;
  padding-left: 5px;
}

#links div .life-care-block img {
  height: 40px;
}

#links div .life-care-block p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #999;
}

#links div .links-block {
  max-width: 30%;
}

#links div .links-block h4 {
  color: #222;
  font-size: 17px;
  font-weight: 900;
  border-left: solid #157fda 5px;
  padding: 0 0 0 15px;
  margin-bottom: 20px;
}

#links div .links-block ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

#links div .links-block ul li {
  margin-bottom: 15px;
  color: #999;
  font-size: 16px;
  font-weight: 400;
}

#links div .links-block ul li span {
  padding-right: 10px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  color: #157fda;
}

#links div .footer-form {
  max-width: 30%;
}

#links div .footer-form h4 {
  color: #222;
  font-size: 17px;
  font-weight: 900;
  border-left: solid #157fda 5px;
  padding: 0 0 0 15px;
  margin-bottom: 20px;
}

#links div .footer-form p {
  padding-top: 30px;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #999;
}

#links div .footer-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 10px;
}

#links div .footer-form form input {
  display: inline-block;
  height: 50px;
  width: 80%;
  padding: 0px 20px;
  background: #eee;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

#links div .footer-form form button {
  height: 50px;
  width: 20%;
  font-weight: bold;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#1d86df), to(#39b49a));
  background: linear-gradient(to right, #1d86df 0%, #39b49a 100%);
  border: none;
  font-size: 24px;
  position: relative;
  display: inline-block;
  text-align: center;
}

footer {
  background: #157fda;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
/*# sourceMappingURL=style.css.map */