@import "./vars";

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

@mixin desktopMedia {
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

@mixin heading-h2 {
  font-size: 35px;
  text-transform: none;
  font-weight: 400;
  letter-spacing: -1px;
  color: #333;
  margin: 5px 0;
  padding: 0;
  position: relative;
}
@mixin flexbox($way) {
  display: flex;
  flex: wrap;
  flex-direction: $way;
}
@mixin footBlock {
  position: relative;
  padding-right: 5px;
  padding-left: 5px;
}
@mixin input {
  border-radius: 0;
  border: solid #ccc 1px;
  padding: 1px 15px;
  font-weight: 400;
  font-size: 13px;
  margin: 12px 0 0;
  box-shadow: none;
  color: #333;
  height: 44px;
  outline: none;
}

// extend
.primary-btn {
  color: #fff;
  padding: 13px 40px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, $hover-color 0%, $primary-color 100%);
  border-radius: 100px;
  outline: none;
  &:hover {
    background: linear-gradient(to right, $primary-color 0%, $hover-color 100%);
  }
}

// .price-icon {

// }

header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: #fff;

  .header-top {
    width: 100%;
    padding: 10px 0;

    .header-container {
      @include desktopMedia();
      padding-right: 50px;
      padding-left: 50px;
      .logo {
        float: left;
        height: auto;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;
        img {
          width: 220px;
        }
      }
      .header-info-block {
        float: right;
        margin: 11px 0;
        .header-info-item {
          float: left;
          margin-left: 30px;
          .header-icon {
            float: left;
            background: $primary-color;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: normal;
            padding: 10px 12px;
            margin-right: 15px;
            color: #fff;
            transition: ease all 1s;
            cursor: pointer;
            &:hover {
              transition: 1s;
              border-radius: 100%;
              background: $hover-color;
            }

            .fa-clock-o {
              font-size: 1rem;
            }

            .fa-envelope {
              font-size: 1rem;
            }
            img {
              width: 100%;
            }
          }
          .header-icon-info {
            float: left;
            font-size: 20px;
            letter-spacing: -1px;
            margin: 4px 0;
            a {
              color: #1f1f1f;
            }
          }
        }
      }
    }
  }

  .header-bottom {
    float: left;
    width: 100%;
    background: $primary-color;
    .header-container {
      @include desktopMedia();

      #nav-menu {
        float: left;
        margin: 18px;

        .menubtn {
          display: none;
        }

        .closebtn {
          display: none;
        }

        .menu {
          li a.active {
            color: #fff;
            background: $hover-color;
            box-shadow: 5px 5px 0 0px #fff;
          }
          li {
            margin-left: 8px;
            float: left;

            a {
              color: white;
              font-size: 17px;
              padding: 20px 22px;
              text-transform: none;
              letter-spacing: 0;
              font-weight: 500;
            }

            &:hover a {
              transition: 0.6s;
              color: #fff;
              background: $hover-color;
              box-shadow: 5px 5px 0 0px #fff;
            }
          }
        }
      }
      .search-bar {
        float: right;
        width: 250px;
        .search-input {
          @include flexbox(row);
          border: none;
          border-radius: 50px;
          background-color: #fff;
          overflow: hidden;
          margin: 10px 0;

          input {
            border-radius: 50px;
            overflow: hidden;
            float: left;
            font-size: 14px;
            font-weight: 500;
            color: #222;
            width: 200px;
            height: 40px;
            border: none;
            outline: none;
            padding: 0 10px;
          }
          .input-search-btn {
            flex-wrap: wrap;
            align-items: center;
            button {
              border: none;
              outline: none;
              margin: 0;
              background: none;
              box-shadow: none;
              color: #666666;
              padding: 0 10px;
              .fa-search {
                padding: 10px 0px;
                font-size: 18px;
                color: #333;
              }
            }
          }
        }
      }
    }
  }
}

#intro {
  background-image: url("../images/slider-bg.png");
  position: relative;
  min-height: 650px;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 140px;
  .intro-container {
    @include desktopMedia();
    .intro-greeting {
      padding-top: 3rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .heart-logo {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background: #fff;
        border-radius: 100%;
        width: 100px;
        height: 100px;
        border: solid $hover-color 3px;

        img {
          width: 50px;
          margin-top: 2px;
        }
      }
      h1 {
        margin-top: 2px;
        font-size: 45px;
        font-weight: 400;
      }
    }
  }
}

#info {
  .info-container {
    @include desktopMedia();
    .info-block {
      display: flex;
      justify-content: center;
      width: 100%;

      .info-item {
        min-height: 200px;
        margin-top: -350px;
        width: 20%;
        z-index: 1;
        padding: 50px;
        color: #fff;
        .info-icon {
          display: flex;
          justify-content: center;
          text-align: center;
          font-size: 60px;
          line-height: normal;
          margin-bottom: 20px;
        }
        h3 {
          width: 100%;
          text-align: center;
          color: #fff;
          padding: 0;
          font-size: 20px;
          font-weight: 600;
          margin: -5px 0 15px 0;
        }
        p {
          width: 100%;
          text-align: center;
          margin: 0;
          font-size: 14px;
          font-weight: 300;
        }
        .time-table {
          ul {
            margin: 0;
            width: 100%;
            padding: 0;
            li {
              width: 100%;
              font-size: 14px;
              border-bottom: dashed 1px #fff;
              padding-bottom: 2.5rem;
              padding-top: 10px;
              .left {
                float: left;
              }
              .right {
                float: right;
              }
            }
          }
        }
      }
      .second {
        margin-bottom: -63px;
        &::before {
          content: "";
          display: block;
          width: 0;
          height: 0;
          background: transparent;
          position: absolute;
          z-index: 0;
          border-bottom: solid transparent 65px;
          border-right: solid #a0cff7 70px;
          bottom: -217px;
          left: 423px;
        }
        &::after {
          content: "";
          display: block;
          width: 0;
          height: 0;
          background: transparent;
          position: absolute;
          z-index: 0;
          border-bottom: solid transparent 65px;
          border-left: solid #a0cff7 70px;
          bottom: -217px;
          right: 423px;
        }
      }
    }
  }
}

#about {
  padding: 10rem 0;
  .about-container {
    @include desktopMedia();
    @include flexbox(column);
    .about-heading {
      text-align: center;
      float: left;
      width: 100%;
      margin: 0 0 50px 0;
      .icon-logo {
        img {
          width: 60px;
        }
      }
      h2 {
        @include heading-h2;
        &::after {
          width: 50px;
          height: 4px;
          background: $hover-color;
          content: "";
          display: block;
          margin: 10px auto 0;
        }
      }
    }
    .about-intro {
      width: 100%;

      .about-intro-item {
        width: 50%;
        float: left;
        padding-bottom: 1rem;

        h4 {
          text-transform: uppercase;
          padding: 0;
          margin: 0 0 5px;
          font-weight: 600;
          letter-spacing: 0.5px;
          font-size: 17px;
          color: #0071d1;
        }
        h2 {
          font-weight: bold;
          font-size: 34px;
          padding: 0 0 10px;
        }
        p {
          width: 80%;
          padding-top: 10px;
          font-size: 16px;
          font-style: normal;
          color: #999;
          padding-bottom: 0;
          font-weight: 400;
          margin-bottom: 15px;
        }
        .more-btn {
          @extend .primary-btn;
        }
        img {
          display: block;
          max-width: 100%;
          height: auto;
        }
      }
    }

    .about-gallery {
      @include flexbox(row);
      padding-top: 7rem;
      padding-bottom: 2rem;
      width: 100%;
      .about-gallery-item {
        max-width: 25%;
        padding-right: 10px;
        padding-left: 10px;
        div {
          img {
            display: block;
            max-width: 100%;
            height: auto;
          }
        }
        h3 {
          font-size: 16px;
          color: #ffffff;
          padding: 12px 0 12px;
          margin: 0;
          background: #157fda;
          text-align: center;
        }
      }
    }
  }
}

#service {
  width: 100%;
  background: url("../images/service-bg.png");
  padding: 5rem 0;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  float: left;
  .service-container {
    @include desktopMedia();
    .serv-blocks {
      @include flexbox(row);
      justify-content: space-between;
      width: 100%;
      .serv-item-block {
        width: 100%;
        padding-bottom: 2rem;
        .serv-item {
          width: 30%;
          text-align: center;
          color: #fff;
          padding-bottom: 2rem;
          float: left;
          .icon-service {
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
            img {
              width: 60px;
            }
          }
          h4 {
            font-size: 15px;
            font-weight: 600;
            margin: 5px 0 0;
            width: 100%;
          }
          p {
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 15px;
            line-height: 23px;
            font-weight: 400;
            margin-top: 5px;
          }
        }
      }

      .appointment-form {
        width: 40%;
        background: #fff;
        min-height: 425px;
        box-shadow: 0 0 50px -22px rgba(0, 0, 0, 0.3);
        padding: 20px;
        h3 {
          margin: 0;
          background: linear-gradient(
            to right,
            $hover-color 0%,
            $primary-color 100%
          );
          color: #fff;
          padding: 10px 15px;
          font-size: 18px;
          font-weight: 600;
        }
        form {
          .form-item {
            @include flexbox(column);
            input {
              border-radius: 0;
              border: solid #ccc 1px;
              padding: 1px 15px;
              font-weight: 400;
              font-size: 13px;
              margin: 12px 0 0;
              box-shadow: none;
              color: #333;
              height: 44px;
            }
            div {
              @include flexbox(row);
              justify-content: center;
              .submit-btn {
                margin-top: 1rem;
                @extend .primary-btn;
              }
            }
            select {
              @include input();
              width: 100%;
              background-color: #fff;
            }

            textarea {
              @include input();
              height: 90px;
            }
          }
        }
      }
    }
  }
}

#doctors {
  padding-top: 48rem;
  .doctors-container {
    @include desktopMedia();
    .doctors-heading {
      text-align: center;
      float: left;
      width: 100%;
      margin: 0 0 50px 0;
      .icon-logo {
        img {
          width: 60px;
        }
      }
      h2 {
        @include heading-h2;

        &::after {
          width: 50px;
          height: 4px;
          background: $hover-color;
          content: "";
          display: block;
          margin: 10px auto 0;
        }
      }
    }

    .doctors-block {
      @include flexbox(row);
      padding-top: 1rem;
      padding-bottom: 2rem;
      width: 100%;
      .doctors-item {
        text-align: center;
        max-width: 30%;
        padding: 20px;
        img {
          border-radius: 6px;
          max-width: 100%;
        }
        h3 {
          background: linear-gradient(
            to right,
            $primary-color 0%,
            $hover-color 100%
          );
          color: #ffffff;
          display: flex;
          justify-content: center;
          font-size: 20px;
          line-height: 1;
          padding: 15px 20px;
          margin: 0 70px;
          position: relative;
          top: -35px;
        }

        span {
          font-size: 14px;
          color: $primary-color;
        }
        p {
          font-size: 16px;
          font-weight: 300;
          color: #999;
        }
        .footer-social {
          margin-top: 20px;
          a {
            color: #ffffff;
            padding: 6px 12px;
            background: linear-gradient(to right, #39b49a 0%, #1d86df 100%);
          }
        }
      }
    }
  }
}

#price {
  padding: 100px 0;
  background-image: url("../images/price-bg.png");
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 1;
  .price-container {
    @include desktopMedia();
    .cards {
      @include flexbox(row);
      padding-top: 1rem;
      padding-bottom: 2rem;
      .card-body {
        text-align: center;
        width: 33%;
        margin: 60px 10px 0;
        background: #fff;
        box-shadow: 0px 10px 25px -20px #000;

        h2 {
          padding: 20px 0 15px 0;
          font-size: 31px;
          font-weight: 300;
        }
        h3 {
          font-size: 15px;
          font-weight: 600;
          color: #aaaaaa;
          margin-top: 10px;
          text-transform: uppercase;
        }
        p {
          margin: 15px 30px 0 30px;
          padding: 0 10px 15px 10px;
          border-bottom: 1px solid #ececec;
          font-weight: 300;
          line-height: 30px;
          color: #c2c2c2;
          font-size: 16px;
        }
        .title {
          margin: 5px;
          padding: 0px 0 15px 0;
          color: #fff;
          background: linear-gradient(to right, #39b49a 0%, #1d86df 100%);
          h3 {
            color: #fff;
          }
        }
        ul {
          margin: 15px 30px 0 30px;
          padding: 0 10px 30px 50px;
          border-bottom: 1px solid #ececec;
          text-align: left;
          line-height: 30px;
          font-size: 16px;
          color: #c2c2c2;
          li {
            strong {
              color: #222;
              font-weight: 400;
              margin-right: 6px;
              margin-left: 16px;
            }
          }
        }
        div {
          margin-top: 25px;
          padding-bottom: 20px;
          .price-btn {
            padding: 10px 24px;
            font-size: 15px;
            border: 1px solid #ececec;
            color: #1f1f1f;
            background-color: transparent;
          }
          .price-center-btn {
            @extend .primary-btn;
          }
        }
      }
    }
  }
}

#testimonials {
  padding: 100px 0;
  background-image: url("../images/bg-testimonial.png");
  background-position: bottom;
  background-attachment: fixed;

  .testimonials-container {
    @include desktopMedia();
    .testim-heading {
      text-align: center;
      width: 100%;
      margin: 0 0 50px 0;
      .icon-logo {
        img {
          width: 60px;
        }
      }
      h2 {
        @include heading-h2;

        &::after {
          width: 50px;
          height: 4px;
          background: $hover-color;
          content: "";
          display: block;
          margin: 10px auto 0;
        }
      }
    }
    .testimonials-block {
      @include flexbox(column);
      padding-top: 15px;
      padding-bottom: 15px;
      .testimonials-block-item {
        @include flexbox(row);
        max-width: 100%;
        .testimonial-item {
          padding-right: 15px;
          padding-left: 15px;
          width: 50%;
          .desc {
            position: relative;
            background: #fff;
            border: 1px solid #ededed;
            padding: 30px;

            h3 {
              font-size: 18px;
              font-weight: bolder;
              padding: 0 0 10px;

              .fa-quote-left {
                color: rgba(0, 0, 0, 0.1);
                font-size: 30px;
              }
            }
            p {
              background-color: transparent;
              color: #aaa;
              display: block;
              font-size: 15px;
              font-style: normal;
              line-height: 30px;
              margin: 0;
              padding: 0;
              position: relative;
              font-weight: 400;
            }
          }
          .testi-meta {
            margin-top: 30px;
            img {
              max-width: 55px;
              margin: 10px 20px 20px 0;
              float: left;
            }
            h4 {
              font-size: 18px;
              padding: 13px 0 0;
              font-weight: 400;
              color: #39b49a;
              span {
                background-color: transparent;
                color: #aaa;
                display: block;
                font-size: 14px;
                font-style: normal;
                line-height: 30px;
                margin: 0;
                padding: 0;
                position: relative;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}

#getintouch {
  padding: 50px 0;
  background-image: url("../images/bg-testimonial.png");
  background-position: bottom;
  background-attachment: fixed;

  .getintouch-heading {
    text-align: center;
    width: 100%;
    margin: 0 0 50px 0;
    .icon-logo {
      img {
        width: 60px;
      }
    }
    h2 {
      @include heading-h2;

      &::after {
        width: 50px;
        height: 40px;
        background: $hover-color;
        content: "";
        display: block;
        margin: 10px auto 0;
      }
    }
  }

  .contact-section {
    @include flexbox(row);
    width: 100%;
    .form-content {
      position: relative;
      width: 30%;
      height: 30%;
      background: rgba(0, 0, 0, 0.8);
      z-index: 1;
      padding: 50px;
      form {
        @include flexbox(column);
        justify-content: center;
        .input-group {
          width: 100%;
          .input-item {
            width: 50%;
            float: left;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 15px;
            padding-bottom: 15px;
            input {
              width: 100%;
              background: transparent;
              padding: 0;
              border: none;
              border-bottom: solid #fff 2px;
              font-size: 15px;
              font-weight: 300;
              margin-bottom: 15px;
              outline: none;
            }
          }
        }
        .input-group {
          width: 100%;

          textarea {
            width: 95%;
            background: transparent;
            border: none;
            border-bottom: solid #fff 2px;
            font-size: 15px;
            font-weight: 300;
          }
        }

        div {
          @include flexbox(row);
          justify-content: center;
          .send-btn {
            margin-top: 2rem;
            @extend .primary-btn;
          }
        }
      }
    }

    .map {
      width: 70%;
      height: 100;
    }
  }
}

#links {
  font-size: 14px;
  margin-right: auto;
  margin-left: auto;

  div {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .life-care-block {
      max-width: 30%;
      @include footBlock();
      img {
        height: 40px;
      }

      p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
        color: #999;
      }
    }

    .links-block {
      max-width: 30%;
      h4 {
        color: #222;
        font-size: 17px;
        font-weight: 900;
        border-left: solid #157fda 5px;
        padding: 0 0 0 15px;
        margin-bottom: 20px;
      }

      ul {
        padding: 0;
        margin: 0;
        width: 100%;
        li {
          margin-bottom: 15px;
          color: #999;
          font-size: 16px;
          font-weight: 400;
          span {
            padding-right: 10px;
            font-size: 20px;
            width: 30px;
            text-align: center;
            color: #157fda;
          }
        }
      }
    }

    .footer-form {
      max-width: 30%;
      h4 {
        color: #222;
        font-size: 17px;
        font-weight: 900;
        border-left: solid #157fda 5px;
        padding: 0 0 0 15px;
        margin-bottom: 20px;
      }

      p {
        padding-top: 30px;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
        color: #999;
      }
      form {
        @include flexbox(row);
        padding-top: 10px;
        input {
          display: inline-block;
          height: 50px;
          width: 80%;
          padding: 0px 20px;
          background: #eee;
          border-radius: 0;
          border: none;
          box-shadow: none;
          outline: none;
        }

        button {
          height: 50px;
          width: 20%;
          font-weight: bold;
          color: #fff;
          background: linear-gradient(to right, #1d86df 0%, #39b49a 100%);
          border: none;
          font-size: 24px;
          position: relative;
          display: inline-block;
          text-align: center;
        }
      }
    }
  }
}

footer {
  background: $primary-color;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
