@import "./vars";

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

@mixin desktopMedia {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: #fff;

  .header-top {
    width: 100%;
    padding: 10px 0;

    .header-container {
      @include desktopMedia();
      padding-right: 30px;
      padding-left: 30px;
      .logo {
        float: left;
        height: auto;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;
        img {
          width: 220px;
        }
      }
      .header-info-block {
        float: right;
        margin: 11px 0;
        .header-info-item {
          float: left;
          margin-left: 30px;
          .header-icon {
            float: left;
            background: $primary-color;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: normal;
            padding: 10px 12px;
            margin-right: 15px;
            color: #fff;
            transition: ease all 1s;
            cursor: pointer;
            &:hover {
              transition: 1s;
              border-radius: 100%;
              background: $hover-color;
            }

            .fa-clock-o {
              font-size: 1rem;
            }

            .fa-envelope {
              font-size: 1rem;
            }
            img {
              width: 100%;
            }
          }
          .header-icon-info {
            float: left;
            font-size: 20px;
            letter-spacing: -1px;
            margin: 4px 0;
            a {
              color: #1f1f1f;
            }
          }
        }
      }
    }
  }

  .header-bottom {
    float: left;
    width: 100%;
    background: $primary-color;
    .header-container {
      @include desktopMedia();

      #nav-menu {
        float: left;
        margin: 10px;

        .menubtn {
          display: none;
        }

        .closebtn {
          display: none;
        }

        .menu {
          li a.active {
            color: #fff;
            background: $hover-color;
            box-shadow: 5px 5px 0 0px #fff;
          }
          li {
            margin-left: 8px;
            float: left;

            a {
              padding: 8px;
              text-decoration: none;
              display: inline-block;
              color: white;
              font-weight: 600;
              font-size: 14px;
              outline: none;
            }

            &:hover a {
              transition: 0.6s;
              color: #fff;
              background: $hover-color;
              box-shadow: 5px 5px 0 0px #fff;
            }
          }
        }
      }
      .search-bar {
        float: right;
        width: 250px;
        .search-input {
          border: none;
          border-radius: 50px;
          background-color: #fff;
          overflow: hidden;
          margin: 10px 0;

          input {
            border-radius: 50px;
            overflow: hidden;
            float: left;
            font-size: 14px;
            font-weight: 500;
            color: #222;
            width: 200px;
            height: 40px;
            border: none;
            outline: none;
            padding: 0 4px;
          }
          .input-search-btn {
            flex-wrap: wrap;
            align-items: center;
            button {
              border: none;
              outline: none;
              margin: 0;
              background: none;
              box-shadow: none;
              color: #666666;
              padding: 10px 12px;
              .fa-search {
                font-size: 18px;
                color: #333;
              }
            }
          }
        }
      }
    }
  }
}

#intro {
  background-image: url("/assets/images/slider-bg.png");
  position: relative;
  min-height: 650px;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 140px;
  .intro-container {
    @include desktopMedia();
    .intro-greeting {
      padding-top: 3rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .heart-logo {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background: #fff;
        border-radius: 100%;
        width: 100px;
        height: 100px;
        border: solid #39b49b 3px;

        img {
          width: 50px;
          margin-top: 2px;
        }
      }
      h1 {
        margin-top: 2px;

        font-size: 45px;
        font-weight: 400;
      }
    }
  }
}

#info {
  .info-container {
    @include desktopMedia();
    .info-block {
      display: flex;
      justify-content: center;
      width: 100%;

      .info-item {
        min-height: 200px;
        margin-top: -300px;
        width: 20%;
        z-index: 1;
        padding: 50px;
        color: #fff;
        .info-icon {
          display: flex;
          justify-content: center;
          text-align: center;
          font-size: 60px;
          line-height: normal;
          margin-bottom: 20px;
        }
        h3 {
          width: 100%;
          text-align: center;
          color: #fff;
          padding: 0;
          font-size: 20px;
          font-weight: 600;
          margin: -5px 0 15px 0;
        }
        p {
          width: 100%;
          text-align: center;
          margin: 0;
          font-size: 14px;
          font-weight: 300;
        }
        .time-table {
          ul {
            margin: 0;
            width: 100%;
            padding: 0;
            li {
              width: 100%;
              font-size: 14px;
              border-bottom: dashed 1px #fff;
              padding-bottom: 2.5rem;
              padding-top: 10px;
              .left {
                float: left;
              }
              .right {
                float: right;
              }
            }
          }
        }
      }
      .second {
        margin-bottom: -65px;
        &::before {
          content: "";
          display: block;
          width: 0;
          height: 0;
          background: transparent;
          position: absolute;
          bottom: -225px;
          z-index: 0;
          border-bottom: solid transparent 65px;
          border-right: solid #a0cff7 70px;
          left: 423px;
        }
        &::after {
          content: "";
          display: block;
          width: 0;
          height: 0;
          background: transparent;
          position: absolute;
          z-index: 0;
          border-bottom: solid transparent 65px;
          border-left: solid #a0cff7 70px;
          bottom: -225px;
          right: 423px;
        }
      }
    }
  }
}
